*{
    margin: 0%;
    padding: 0%;
}
.container{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 500px;
    height: 800px;
}
.container1{
    display: flex;
    justify-content: center;
}
.container h1{
    padding-top: 20px;
    
}
.details{
    margin-top: -40px;
    border-radius: 50%;
    margin-right: -70px;
    float: inline-end;
 }
 
